<div class="container d-flex flex-column min-vh-100 justify-content-between">
  <div class="col-12">
    <p class="title mb-0">El aroma mágico</p>
    <hr class="mt-1" />
    <img
      class="img-fluid"
      src="../../assets/image 1.png"
      alt="Imágen de café"
    />
    <hr />
  </div>
  <div class="col-7">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Región</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coffee of coffees">
          <th>
            {{ coffee.id }}
          </th>
          <td>
            {{ coffee.nombre }}
          </td>
          <td>
            {{ coffee.tipo }}
          </td>
          <td>
            {{ coffee.region }}
          </td>
        </tr>
      </tbody>
    </table>
    <p class="mb-0">Total café de origen: {{ originNum }}</p>
    <p class="mt-0">Total café blend: {{ blendNum }}</p>
  </div>
  <footer class="mt-5">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <p class="mb-0">
            Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
